<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <div class="jumbotron">
            <div class="row text-center">
                <img src="../../static/images/Internet-Connect-128.png"
                     th:src="@{/images/Internet-Connect-128.png}"/>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#" th:href="@{/invoices}">Invoices</a></li>
                        <li><a href="#" th:href="@{/invoice/new}">Create Invoice</a></li>-->
                        <li><a href="#" th:href="@{/communities}">Communities</a>
                            <ul>
                                <li><a href="#" th:href="@{/community/new}">Create Community</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>