<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!--/*/ <th:block th:include="fragments/menubar :: menu"></th:block> /*/-->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Communities
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">Communities</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <button onclick="window.location.href='/community/new'" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">New</button>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search"/>

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Id</th>
                  <th>NIF</th>
                  <th>Name</th>
                  <th>City Name</th>
                  <th>City Postal Code</th>
                  <th>Address</th>
                  <th>View</th>
                  <th>Edit</th>
                </tr>

                <tr th:each="community : ${communities}">
                  <td th:text="${community.id}"><a href="/invoice/${invoice.id}">Id</a></td>
                  <td th:text="${community.nif}">Product Id</td>
                  <td th:text="${community.name}">Customer</td>
                  <td th:text="${community.city.name}">City Name</td>
                  <td th:text="${community.city.postalcode}">City Postal Code</td>
                  <td th:text="${community.address}">Address</td>

                  <td><a th:href="${ '/community/' + community.id}">View</a></td>
                  <td><a th:href="${'/community/edit/' + community.id}">Edit</a></td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.7
    </div>
    <strong>Copyright &copy; 2017 <a href="http://tecnocampus.cat">Tecnocampus</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <!--/*/ <th:block th:include="fragments/aside :: menu"></th:block> /*/-->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
</html>
